name: Yaml Lint
on: [push] 
jobs:
  lintAllTheThings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: index.yaml
          config_data: "{extends: default, rules: {new-line-at-end-of-file: disable, document-start: disable, line-length: {max: 200}, trailing-spaces: disable}}"
